name: Deploy Jekyll site

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        
      - name: Analyse notes to make knowledge graph
        run: uv run --with pandas python ./_scripts/make_graph.py
        
      - name: Setup Ruby
        # https://github.com/ruby/setup-ruby/releases/tag/v1.207.0
        uses: ruby/setup-ruby@4a9ddd6f338a97768b8006bf671dfbad383215f4
        with:
          ruby-version: '3.1' # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          cache-version: 0 # Increment this number if you need to re-download cached gems
          
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
        
      - name: Build with Jekyll
        # Outputs to the './_site' directory by default
        run: bundle exec jekyll build --config _config_live.yml
        env:
          JEKYLL_ENV: production
          
      - name: Upload artifact
        # Automatically uploads an artifact from the './_site' directory by default
        uses: actions/upload-pages-artifact@v3
        with:
          name: dist
          path: _site

  # Deployment job
  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:

      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: _deploy

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: _site
      
      - name: Extract tar
        run: |
          tar -xvf _site/artifact.tar .
          ls 

      - name: Commit and push
        run: |
          git config user.name "auto-commit n3pdsnm5"
          git config user.email "autocommit_n3pdsnm5@users.noreply.github.com"
          git pull origin _deploy
          git add _site
          git commit -m "Auto generated from ${GITHUB_SHA::7}"
          git push

      # - name: Trigger deploy hook
      #   env: 
      #     DEPLOY_HOOK: ${{ secrets.DEPLOY_HOOK }}
      #   run: curl -X POST "$DEPLOY_HOOK"
